@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 200;
  font-style: normal;
  src: local("IBM Plex Sans ExtraLight"), url("../fonts/web/eot/IBMPlexSans-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/desktop/mac/IBMPlexSans-ExtraLight.otf") format("opentype"), url("../fonts/desktop/pc/IBMPlexSans-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 300;
  font-style: normal;
  src: local("IBM Plex Sans Light"), url("../fonts/web/eot/IBMPlexSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/web/woff2/IBMPlexSans-Light-Latin1.woff2") format("woff2"), url("../fonts/web/woff/IBMPlexSans-Light-Latin1.woff") format("woff"), url("../fonts/desktop/mac/IBMPlexSans-Light.otf") format("opentype"), url("../fonts/desktop/pc/IBMPlexSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-style: normal;
  src: local("IBM Plex Sans Regular"), url("../fonts/web/eot/IBMPlexSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/web/woff2/IBMPlexSans-Regular-Latin1.woff2") format("woff2"), url("../fonts/web/woff/IBMPlexSans-Regular-Latin1.woff") format("woff"), url("../fonts/desktop/mac/IBMPlexSans-Regular.otf") format("opentype"), url("../fonts/desktop/pc/IBMPlexSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-style: normal;
  src: local("IBM Plex Sans Bold"), url("../fonts/web/eot/IBMPlexSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/desktop/mac/IBMPlexSans-Bold.otf") format("opentype"), url("../fonts/desktop/pc/IBMPlexSans-Bold.ttf") format("truetype");
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

header img {
    float: left;
    padding-top: 40px;
    margin-left: 250px;
}

header h1 {
  padding-top: 40px;
  font-size: 36px;
  margin-left: 350px;
  width: 860px;
  top: 20px;
  text-align: center;
}

header h2 {
  padding-top: 16px;
  padding-bottom: 24px;
  font-size: 24px;
  margin-left: 330px;
  width: 860px;
  top: 20px;
  text-align: center;
  font-weight: bold;
}


header a {
  display: block;
  color: black;
}



.menu {
position: fixed;
padding-top: 40px;
margin-left: 250px;
width: 80px;
}

.map-page-nav {
  position: fixed;
  margin-left: 250px;
  width: 80px;
}



nav li {
  position: relative;
  width: 60px;
  text-align: center;
}

nav li a {
  display: inline-block;
  text-decoration: none;
  line-height: 40px;
  color: black;
  font-size: 18px;
}

nav li a:hover::before {
  position: absolute;
  top: 0;
  left: 100%;
}

nav li.current a::before {
  width: 0;
  height: 0;
  content: '';
  border-top: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
  border-left-color: transparent;
  position: absolute;
  top: 0;
  left: 100%;
}

nav li.current:nth-child(1) a::before {
  border-left-color: #f5a3b0;
}

nav li.current:nth-child(2) a::before {
  border-left-color: #9cc5d7;
}

nav li.current:nth-child(3) a::before {
  border-left-color: #f7f3ac;
}

nav li.current:nth-child(4) a::before {
  border-left-color: #c6a2f5;
}

nav li.current:nth-child(5) a::before {
  border-left-color: #9cd7ab;
}

nav li.current:nth-child(6) a::before {
  border-left-color: #f7d5a7;
}

nav li.current:nth-child(7) a::before {
  border-left-color: #f79cd0;
}

nav li:nth-child(1) {
  background-color: #f5a3b0;
}

nav li:nth-child(1) a:hover::before {
  width: 0;
  height: 0;
  content: '';
  border-top: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
  border-left-color: #f5a3b0;
}

nav li:nth-child(2) {
  background-color: #9cc5d7;
}

nav li:nth-child(2) a:hover::before {
  width: 0;
  height: 0;
  content: '';
  border-top: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
  border-left-color: #9cc5d7;
}

nav li:nth-child(3) {
  background-color: #f7f3ac;
}

nav li:nth-child(3) a:hover::before {
  width: 0;
  height: 0;
  content: '';
  border-top: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
  border-left-color: #f7f3ac;
}

nav li:nth-child(4) {
  background-color: #c6a2f5;
}

nav li:nth-child(4) a:hover::before {
  width: 0;
  height: 0;
  content: '';
  border-top: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
  border-left-color: #c6a2f5;
}

nav li:nth-child(5) {
  background-color: #9cd7ab;
}

nav li:nth-child(5) a:hover::before {
  width: 0;
  height: 0;
  content: '';
  border-top: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
  border-left-color: #9cd7ab;
}

nav li:nth-child(6) {
  background-color: #f7d5a7;
}

nav li:nth-child(6) a:hover::before {
  width: 0;
  height: 0;
  content: '';
  border-top: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
  border-left-color: #f7d5a7;
}

nav li:nth-child(7) {
  background-color: #f79cd0;
}

nav li:nth-child(7) a:hover::before {
  width: 0;
  height: 0;
  content: '';
  border-top: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
  border-left-color: #f79cd0;
}

main .hp-box {
  background-color: #e3e3e3;
  width: 860px;
  margin-left: 330px;
  margin-top: 40px;
}


div p {
  width: 720px;
  line-height: 26px;
  font-weight: 300;
  padding: 48px 64px 50px 80px
}

main .forty {
  background-color: #F5A3B0;
  width: 860px;
  margin-left: 330px;
}

main .forty-legend  {
  background-color: #F0F0F0;
  width: 860px;
  height: 434px;
  margin-left: 330px;
  padding-top: 70px;
  margin-bottom: 80px;
}


main .fiftysix {
  background-color: #9cc5d7;
  width: 860px;
  margin-left: 330px;

}

main .fiftysix-legend {
  background-color: #F0F0F0;
  width: 860px;
  height: 417px;
  margin-left: 330px;
  padding-top: 70px;
  margin-bottom: 80px;
}

main .fiftynine {
  background-color: #F7F3AC;
  width: 860px;
  margin-left: 330px;
}

main .fiftynine-legend {
  background-color: #F0F0F0;
  width: 860px;
  height: 452px;
  margin-left: 330px;
  padding-top: 70px;
  margin-bottom: 80px;
}

main .sixty {
  background-color: #C6A2F5;
  width: 860px;
  margin-left: 330px;
}

main .sixty-legend {
  background-color: #F0F0F0;
  width: 860px;
  height: 410px;
  margin-left: 330px;
  padding-top: 70px;
  margin-bottom: 80px;
}

main .sixtytwo {
  background-color: #9CD7AB;
  width: 860px;
  margin-left: 330px;
}

main .sixtytwo-legend {
  background-color: #F0F0F0;
  width: 860px;
  height: 410px;
  margin-left: 330px;
  padding-top: 70px;
  margin-bottom: 80px;
}

main .seventy {
  background-color: #F7D5A7;
  width: 860px;
  margin-left: 330px;
}

main .seventy-legend {
  background-color: #F0F0F0;
  width: 860px;
  height: 1056px;
  margin-left: 330px;
  padding-top: 70px;
  margin-bottom: 80px;
}

main .eighty {
  background-color: #f79cd0;
  width: 860px;
  margin-left: 330px;
}

main .eighty-legend {
  background-color: #F0F0F0;
  width: 860px;
  height: 1663px;
  margin-left: 330px;
  padding-top: 70px;
  margin-bottom: 80px;
}






picture {
  display: block;
  padding-bottom: 80px;
  text-align: center;
}

picture img {
  padding-top: 80px;
}

picture.nineteen-forty {
  background-color: #F5A3B0;
}

picture.nineteen-fifty-six {
  background-color: #9cc5d7;
}

picture.nineteen-fifty-nine {
  background-color: #f7f3ac;
}

picture.nineteen-sixty {
  background-color: #c6a2f5;
}

picture.nineteen-sixty-two {
  background-color: #9cd7ab;
}

picture.nineteen-seventy {
  background-color: #f7d5a7;
}

picture.nineteen-eighty {
  background-color: #f79cd0;
}

.bullet {
  color: #000000;
  font-weight: 200;
}

.numbers {
  font-weight: 600;
}

ul .forty-legend .first .second {
  list-style: none;
}


.forty-legend .first li {
    font-weight: 600;
    margin-left: 80px;
    margin-top: 5px;
  }

.forty-legend .second li {
    font-weight: 600;
    margin-left: 80px;
    margin-top: 4px;
}


.forty-legend .first .sfh li {
    text-indent: 12px;
    font-weight: 100;
}

.forty-legend .second .sfh li {
    text-indent: 12px;
    font-weight: 100;
}


ul .fifty-legend .first .second {
  list-style: none;
}


.fiftysix-legend .first li {
    font-weight: 600;
    margin-left: 80px;
    margin-top: 5px;
  }

.fiftysix-legend .second li {
    font-weight: 600;
    margin-left: 80px;
    margin-top: 4px;
}


.fiftysix-legend .first .sfh li {
    text-indent: 12px;
    font-weight: 100;

}

.fiftysix-legend .second .sfh li {
    text-indent: 12px;
    font-weight: 100;

}


ul .fiftynine-legend .first .second {
  list-style: none;
}


.fiftynine-legend .first li {
    font-weight: 600;
    margin-left: 80px;
    margin-top: 5px;
  }

.fiftynine-legend .second li {
    font-weight: 600;
    margin-left: 80px;
    margin-top: 4px;
}


.fiftynine-legend .first .sfh li {
    text-indent: 12px;
    font-weight: 100;

}

.fiftynine-legend .second .sfh li {
    text-indent: 12px;
    font-weight: 100;

}

ul .eighty-legend .first .second {
  list-style: none;
}


.eighty-legend .first li {
    font-weight: 600;
    margin-left: 80px;
    margin-top: 5px;
  }

.eighty-legend .second li {
    font-weight: 600;
    margin-left: 80px;
    margin-top: 4px;
}


.eighty-legend .first .sfh li {
    text-indent: 12px;
    font-weight: 100;

}

.eighty-legend .second .sfh li {
    text-indent: 12px;
    font-weight: 100;

}

ul .seventy-legend .first .second {
  list-style: none;
}


.seventy-legend .first li {
    font-weight: 600;
    margin-left: 80px;
    margin-top: 5px;
  }

.seventy-legend .second li {
    font-weight: 600;
    margin-left: 80px;
    margin-top: 4px;
}


.seventy-legend .first .sfh li {
    text-indent: 12px;
    font-weight: 100;

}

.seventy-legend .second .sfh li {
    text-indent: 12px;
    font-weight: 100;

}

ul .sixty-legend .first .second {
  list-style: none;
}


.sixty-legend .first li {
    font-weight: 600;
    margin-left: 80px;
    margin-top: 5px;
  }

.sixty-legend .second li {
    font-weight: 600;
    margin-left: 80px;
    margin-top: 4px;
}


.sixty-legend .first .sfh li {
    text-indent: 12px;
    font-weight: 100;

}

.sixty-legend .second .sfh li {
    text-indent: 12px;
    font-weight: 100;

}

ul .sixtytwo-legend .first .second {
  list-style: none;
}


.sixtytwo-legend .first li {
    font-weight: 600;
    margin-left: 80px;
    margin-top: 5px;
  }

.sixtytwo-legend .second li {
    font-weight: 600;
    margin-left: 80px;
    margin-top: 4px;
}


.sixtytwo-legend .first .sfh li {
    text-indent: 12px;
    font-weight: 100;

}

.sixtytwo-legend .second .sfh li {
    text-indent: 12px;
    font-weight: 100;

}

.fa-map:before {
    position: fixed;
    font-size: 36pt;
    content: "\f279";
    margin-left: 250px;
    float: left;
    margin-top: 40px;

  }

  .sup {
     line-height: 20px;
     position: relative;
     top: -0.30em;
     vertical-align: baseline;
  }
